<style>
 #templateApp {
     background: #48dbfb;
     height: 100%;
     width: 100%;
 }
</style>
<div id="templateApp">
    <ul>
        <li>DeviceId: <%-deviceId%></li>
        <li>Location: <%-location%></li>
        <li>SubLocation: <%-subLocation%></li>
        <li>value from admin: <%-valueFromAdmin%></li>
    </ul>
</div>
